/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url(../fonts-text/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: AvenirNextLTPro-MediumCn;
  src: url(../fonts-text/AvenirNextLTPro-MediumCn.otf);
}
:root {
  --color-primary: 155, 0, 187;
  --color-secondary: 88, 11, 175;
  --color-dangerS: 252, 75, 111; 
  --color-graylight: 248,248,248;
  --color-gray: 167, 172, 192;
}
body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: AvenirNextLTPro-Regular;
    background: #fafafa;
    line-height: 1.3;
    font-size: 0.70rem !important;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.perfil{
    list-style-type: none;
}
.opciones{
      width: 130px;
      margin-left: -10px;
      margin-bottom: 10px;
}
.navbar {
   /* padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.nav-item.show {
    background: rgba(var(--color-secondary),0.16);
    color:  rgba(var(--color-secondary),1);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    Menu  STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s; 
    -webkit-box-shadow: 2px 0px 10px 2px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 0px 10px 2px rgba(0,0,0,0.45);
    box-shadow: 2px 0px 10px 2px rgba(0,0,0,0.45);
    /*transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;*/
    position: relative;   
}

#Content-C{
    width: calc(100% - 250px);
    margin-left: 250px; 
    position: absolute;
}

/*#sidebar.active {
    margin-left: -250px;
    /*transform: rotateY(100deg);*/

 #sidebar ul { 
    list-style:none; 
}

#sidebar ul li { 
    font-family:AvenirNextLTPro-MediumCn; 
}

#sidebar ul li a { 
    display:block;
}

#sidebar ul li > a .row { 
    height: 6vh;
}

#sidebar  ul li > a i { 
    color: var(--color-gray);
}

#sidebar ul li a:hover { 
    background: 0px rgba(var(--color-primary),0.16);
    color:rgba(var(--color-primary),1);
    /*box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);*/
}

/* cuando se activa la casilla li background principal el segundo rgba sirve para cambiar el color de la sombra*/ 
#sidebar ul li.active > a i, #sidebar ul li.active > a{
    background: rgba(var(--color-graylight),1);
    color: rgba(var(--color-secondary),1) !important;
    /*box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(109,127,204, 0.4);*/
}
#sidebar ul li.active > a .row{
    border-left:5px solid rgba(var(--color-secondary),1); 
}

#sidebar ul li ul{
    background: rgba(var(--color-graylight),1);
}

#sidebar ul li ul li.active > a .row{
    border-left:0; 
}

  
/*background image Menu*/
.bi-Csidebar {
background-image: url(../image/sidebar-1.jpg);
z-index:1;
}

/*color sombreado de la imagen de fondo Menu*/

 .layer {
    /*background-color: rgba(255, 255, 255, 0.9);*/
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bgt-Ccolor::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:auto;  
  background:rgba(109, 127, 204, 0.8);
  z-index:-1;
}

/* ---------------------------------------------------
     Estilos GeneralesS
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/*color background principal*/
.bg-Cprimary {
    background: rgba(var(--color-primary),1) !important;
}

/*color background secundario*/
.bg-Csecondary {
    background: rgba(var(--color-secondary),1) !important;
}

.gbg-Cprimary {
    background-image: linear-gradient(90deg, rgba(var(--color-primary),1) , rgba(var(--color-secondary),1));
}

.gbg-Csecondary {
    background-image: linear-gradient(90deg, rgba(var(--color-secondary),1), blue);
}

/*Color texto  primario*/
.text-Cprimary {
    color: rgba(var(--color-primary),1) !important;
}

/*Color texto  secundario*/
.text-Csecondary {
    color: rgba(var(--color-secondary),1) !important;
}

.text-Csecondarylight {
    color: rgba(var(--color-secondary),0.5) !important;
}

/*Color texto rojo de salir secundario*/
.text-Cdanger {
    color: rgba(var(--color-dangerS),1) !important;
}

/*posicionar imagen de fondo*/

.full-Cimage {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
/*imagen de fondo login*/
.bi-Clogin {
background-image: url(../image_yuppie/Backoffice-web-V1.png);
z-index:1;
}

/*radio del borde*/

.br-C10 {
    border-radius: 10px;
}

.br-C20 {
    border-radius: 20px;
}

.br-C40 {
    border-radius: 40px;
}

/* cambiar alturas*/   

.h-C5 {
    height: 5%;
}

.h-C7_5 {
    height: 7.5%;
}

.h-C10 {
    height: 10%;
}
.h-C15 {
    height: 15%;
}

.h-C15 {
    height: 15%;
}

.h-C20 {
    height: 20%;
}

.h-C70 {
    height: 70%;
}

.h-C80 {
    height: 80%;
}

.h-C90 {
    height: 90%;
}
.h-C92_5{
    height: 92.5%;    
}

.h-C93 {
    height: 93%;
}

.h-C95 {
    height: 95%;
}

.w-C10 {
    width:10%;
}
.w-C15 {
    width:15%;
}

.w-C85 {
    width:85%;
}

.w-C90 {
    width:90%;
}
.w-C92_5{
    width:92.5%;    
}

.w-C93 {
    width:93%;
}

.w-C95 {
    width:95%;
}
.w-C150 {
    width:150%;
}

.w-C50p{
  width: 50px;
  min-width: 50px;
}

.w-C100p{
  width: 100px;
  min-width: 100px;
}

.w-C150p{
  width: 150px;
  min-width: 150px;
}

.w-C200p{
    width: 200px;
    min-width: 200px;
}
/* Styles for wrapping the search box */

/* INput circular con icono interno*/

.i-Cinside .form-control {
    padding-left: 2.375rem;
    background-color: transparent;
}

.i-Cinside .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.i-Cinside .form-control:focus {
    outline: none;
    border-color: rgba(var(--color-secondary),1);
    border-width: 2px;
    box-shadow: none;
    transition: all .2s ease-out;
    background-color: transparent;
}

.i-Cinside2 .form-control {
    background-color: transparent;
}

.i-Cinside2 .form-control:focus {
    outline: none;
    border-color: rgba(var(--color-secondary),1);
    border-width: 2px;
    box-shadow: none;
    transition: all .2s ease-out;
    background-color: transparent;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        box-shadow: none;
    }

    #Content-C {
        width: 100%;
        margin-left:0; 
    }

    #Content-C.active {
        background-color: rgba(0,0,0,0.4); 
    }
    #Content-C.active > div.container-fluid{
        z-index: -1;
        position: absolute;
    }
    #sidebar.active {
        margin-left: 0;
        z-index: 1;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

/* ---------------------------------------------------
    scroll personalizado
----------------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(var(--color-secondary),0.4); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--color-secondary),1); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-secondary),0.4); 
}

/* ---------------------------------------------------
    Paginacion
----------------------------------------------------- */
.pagination {
  display: inline-block;
}

.pagination a {
  float: left;
  padding: 4px 12px;
  color: rgba(var(--color-gray),1);
}

.pagination a:hover { 
    background: 0px rgba(var(--color-primary),0.16);
    color:  rgba(var(--color-primary),1);
}

.pagination a.active {
  color: var(--white);
  float: left;
  padding: 4px 12px;
  text-decoration: none;
  background-color: rgba(var(--color-primary),1);
}

/* ---------------------------------------------------
    Table
----------------------------------------------------- */
.tableC {
    margin-bottom: 0;
}
.tableC thead th {
  border-top: none;
}
 .tableC th, .tableC td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1.55vh;
}

/*.first-col {
    position: absolute;
    width: 3em;
    margin-left: -2em;
}*/
.last-col {
    position: absolute;
    width: 100px; 
    right: 10px;
}
.table-wrapper {
    overflow-x: scroll;
    width: calc(100% - 100px);
}

/* ---------------------------------------------------
    modal derecho
----------------------------------------------------- */
.crudC {
  z-index:100;
  background-color: rgba(0,0,0,0.4);
}

/* ---------------------------------------------------
    Input personalizado  borde inferior
----------------------------------------------------- */
.Cinput .form-group {
  position: relative;
  margin: 20px auto !important;
}

.Cinput .form-control {
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(var(--color-gray),1);
    height:calc(1.2em + .6rem + 2px);
    font-size: 15px;
    background-color: transparent;
}

.Cinput .form-group label {
    position: absolute;
    top: 5px;
    color: rgba(var(--color-gray),1);
    font-size: 15px;
}

.Cinput .form-control:focus {
    outline: none;
    border-color: rgba(var(--color-secondary),1);
    border-width: 2px;
    box-shadow: none;
    transition: all .2s ease-out;
    background-color: transparent;
}

.Cinput .form-control:focus + label, .Cinput .form-control.has-value + label {
    top: -11.5px;
    color: rgba(var(--color-secondary),1);
    font-size: 12px;
}
 .Cinput .form-control.has-value:not(:focus){
    border-color: rgba(var(--color-secondary),1);
    border-width: 2px;
}

/* ---------------------------------------------------
    Input personalizado  borde inferior
----------------------------------------------------- */
.Cinput2 .form-group {
  position: relative;
  margin: 10px auto !important;
}

.Cinput2 .form-control {
    position: relative;
    padding: 10px 8px 0px 8px;
    height:calc(1.2em + 1rem + 10px);
    border: 1px solid rgba(var(--color-gray),1);
    font-size: 15px;
    background-color: rgba(var(--color-graylight),1);
}

.Cinput2 .form-group label {
    position: absolute;
    top: 14px;
    left: 10px;
    color: rgba(var(--color-gray),1);
    font-size: 15px;
}

.Cinput2 .form-control:focus {
    outline: none;
    border-color: rgba(var(--color-secondary),1);
    border-width: 2px;
    box-shadow: none;
    transition: all .2s ease-out;
}

.Cinput2 .form-control:focus + label, .Cinput2 .form-control.has-value + label {
    top: 5px;
    color: rgba(var(--color-secondary),1);
    font-size: 10px;
}
 .Cinput2 .form-control.has-value:not(:focus){
    border-color: rgba(var(--color-secondary),1);
    border-width: 2px;
}
/* ---------------------------------------------------
    inputs nombre de file para editar
----------------------------------------------------- */
.Cinput3{
    float: left;
    width: 50%;
    margin-top: -5%;
    height: 2em;
    margin-left: 27%;
    position: absolute;
    border: none;
}
/* ---------------------------------------------------
    Color  y background de los poppus
----------------------------------------------------- */

.popover-body {
    color: rgba(var(--color-primary),1); !important;
    background-color: rgba(var(--color-primary),0.16); !important;
}

/* ---------------------------------------------------
    scroll vertical
----------------------------------------------------- */

.overflow-y {
    overflow-y: auto; 
}
.overflow-hx {
    overflow-x: hidden; 
}

.overflow-hy {
    overflow-y: hidden; 
}
/* ---------------------------------------------------
  palabra en mitad de dos lineas
----------------------------------------------------- */
.lineWordMiddle {
    overflow: hidden;
    text-align: center;
}
.lineWordMiddle:before,
.lineWordMiddle:after {
    background-color: rgba(var(--color-gray),1);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 32%;
}
.lineWordMiddle:before {
    right: 0.5em;
    margin-left: -50%;
}
.lineWordMiddle:after {
    left: 0.5em;
    margin-right: -50%;
}

/* ---------------------------------------------------
  estilos de las notificaciones
----------------------------------------------------- */

.p-C3truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: 65px; /* Fallback for non-webkit */
  margin: 0 auto;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-point]:after {
    content: attr(data-point);
    position: absolute;
    height: 100%;
    width: 13px;
    top: 0;
    background-image: radial-gradient(circle at center, red 6px, transparent 5px);
    background-size: 20px 20px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    color: var(--white);
    font-size: 8px;
    padding-top: 5px;
    text-align: center; 
}

[data-point]:after {
    right: 5px;
}


.div-Custom {  
    width: 300px;
    max-height: 420px;
    margin: 0.125rem -16rem 0;
    overflow-y: auto;
}

.div-Custom2 {  
    width: 200px;
    max-height: 420px;
    margin: 0.5rem -6.5rem 0;
}

/* ---------------------------------------------------
  
----------------------------------------------------- */

.circular-image {
    position: relative;
    border-radius: 50%;
    float: left;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-image: url(../image_yuppie/perfil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------------------------------
clase temporal
----------------------------------------------------- */

.namee{
    width:120px;
    color: black;
    height: 2em;
    line-height: 1em; 
    font-size: 17px;
    font-weight: 400;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}
.namee:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;
}

.prueba{
    font-size: 12px;
}
/* ------------------- logo de imagen fondo-------------------- */


.backgroundicon{
    background-image: url("../../../media/fondo_mainlogo_yuppie_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  }

/*------------Nuevas----------*/

.img-C25p{
    width: 25px;
    height: 25px;
}

 .img-C50p{
    width: 50px;
    height: 50px;
}

 .img-C10{
    width: 15%;
    height: 15%;
}

 .img-C15{
    width: 20%;
    height: 20%;
}

 .img-C30{
    width: 30%;
    height: 30%;
}

 .img-C40{
    width: 40%;
    height: 40%;
}

 .img-C70{
    width: 70%;
    height: 70%;
} 

.inputarea {
  width: 100%;
  height: 70px !important;
  line-height: 18px;
}

.cursor-pointer {
    cursor: pointer;
    overflow:hidden;
}

.cursor-pointer:hover {
    overflow: visible;
}

.cpointer {
  cursor: pointer;
}

 #listausuarios{
     height: 540px;
    overflow-y: auto;
}

.borderCsecondary{
    border-color: rgba(var(--color-secondary),1);
    box-shadow: none;
}